<!-- Benefits Section -->
    <section id="benefits" class="bg-light-gray" style="padding-top:0 !important;padding-bottom:0 !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <h2>THE BEST PLACE TO EXPLORE AND LEARN ENTREPRENEURSHIP</h2>
                    <img style="margin-bottom:10px;" src="//communities.techstars.com/images/carousels/SW-3.jpg" alt="techstars global startup weekend 2017" width="500" height="252" class="img-fluid img-thumbnail">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Grow Your Network</h4>
                    <p>Join designers, developers, and entrepreneurs from all walks of life, in this melting pot of innovation.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Advice</h4>
                    <p>Each Techstars Startup Weekend is overseen by a group of mentors, coaches, and judges to turn your startup idea into a success story.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Build Something Real</h4>
                    <p>Put your talents to work and build a real product, team, and brand for execution in the real world or even just your portfolio.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Refine Your Skillset</h4>
                    <p>Techstars Startup Weekend provides numerous opportunities to learn and grow through real world experience and problem solving.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Get Inspired</h4>
                    <p>Be influenced by the great ideas around you and learn what it takes to create a successful business from the ground up.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h4>Have Fun!</h4>
                    <p>Each event is fully catered and rooted in the startup spirit of working hard, but playing harder. Join us for an unforgettable weekend!</p>
                </div>
            </div>
        </div>
    </section>
    <hr>