<!-- Services Section -->
    <section id="intro" style="padding-bottom:0 !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <img style="margin-bottom:40px;" src="../css/1703_style/img/logo-tgsw2017-reg-color.png" alt="techstars global startup weekend 2017" width="500" height="252" class="img-fluid img-thumbnail">
                    <h2 class="section-heading">Learn, Network, Startup</h2>
                    <p>In just 54 hours, you will experience the highs, lows, fun, and pressure that make up life at a startup. As you learn how to create a real company, you'll meet the very best mentors, investors, cofounders, and sponsors who are ready to help you get started.</p>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-offset-2 col-md-8 text-center">

                    <style>
                    .video {
                    position:relative;
                    padding-bottom: 56.25%;
                    height:0;
                    overflow:hidden;
                    align: middle;
                    }
                    .video iframe, .video object, .video embed {
                    position: absolute;
                    margin: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    }
                    </style>

                    <div class="video"><iframe src="https://player.vimeo.com/video/28872840" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>
                </div>
            </div>
            <hr>
            <div class="row container">
                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <h2>THE THREE-DAY STARTUP CRASH COURSE</h2>
                    <img style="margin-bottom:10px;" src="../css/1703_style/img/SW-4.jpg" alt="techstars global startup weekend 2017" width="500" height="252" class="img-fluid img-thumbnail">
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>01 Pitch</h4>
                    <p>Pitch an idea, vote for your favorites, and form your team (or join someone else’s).</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>02 Build Something Real</h4>
                    <p>Put your talents to work and build a real product, team, and brand for execution in the real world or even just your portfolio.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>03 Launch!</h4>
                    <p>Put final touches on your presentation and state your case to the Judges.</p>
                </div>
            </div>
            <div class="row" style="margin-bottom:40px;">
                <div class="col-sm-12 col-md-offset-4 col-md-4 text-center">
                    <h5 style="padding-top:20px;">Bring you startup idea to life in 54 hours.</h5>
                    <a href="#registration" class="page-scroll btn btn-xl">Register Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <hr>