<!-- Services Section -->
    <section id="registration" style="padding-top:0 !important;padding-bottom:0 !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <h2 class="section-heading">Get Your Ticket</h2>
                    <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=36700205302&ref=etckt" frameborder="0" height="800" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
                </div>
            </div>
        </div>
    </section>
    <hr>