<!-- Clients Aside -->
    
    <aside class="clients" style="padding-top:0 !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <p>Startup Weekend DC is generously supported by:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.google.com/entrepreneurs/" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/1703_style/img/logos/logo-gogolePN-392x94.jpg" class="img-responsive img-centered" alt="google partners network">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.go.co/" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/1703_style/img/logos/logo-dotCO-104x94.jpg" class="img-responsive img-centered" alt="dot co domain registrar">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://appear.in/" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/1703_style/img/logos/logo-appearIN-136x94.jpg" class="img-responsive img-centered" alt="appear dot in software">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Community Supporter</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-12">
                    <a href="http://www.gew.co" class="portfolio-link" data-toggle="modal" target="_blank">
                        <img src="../css/1703_style/img/logos/logo-gewUSA-253x94.png" class="img-responsive img-centered" alt="global entrepreneurship week usa">
                    </a>
                </div>
            </div>
        </div>
    </aside>