<!DOCTYPE html>
<html>

  {% include 1703_data/head.html %}


    <body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9R5SLK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 1703_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">#TGSW2017<br></div>
                <div class="intro-lead-in">November 10, 11 and 12</div>
                <div class="intro-lead-in">Gallaudet University</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 1703_data/intro.html %}
    {% include 1703_data/benefits.html %}
    {% include 1703_data/registration.html %}
    {% include 1703_data/sponsors.html %}
    {% include 1703_data/organizers.html %}
    {% include 1703_data/contact.html %}
    {% include 1703_data/footer.html %}
    {% include 1703_data/js.html %}

    </body>
</html>